USE [Basecore]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 11/14/2022 4:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Like]    Script Date: 11/14/2022 4:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Like](
	[liker_id] [int] NOT NULL,
	[likee_id] [int] NOT NULL,
 CONSTRAINT [PK_Like] PRIMARY KEY CLUSTERED 
(
	[liker_id] ASC,
	[likee_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Messages]    Script Date: 11/14/2022 4:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Messages](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[send_id] [int] NOT NULL,
	[senderid] [int] NULL,
	[recipientid] [int] NOT NULL,
	[content] [nvarchar](max) NULL,
	[is_read] [bit] NOT NULL,
	[date_read] [datetime2](7) NULL,
	[message_sent] [datetime2](7) NOT NULL,
	[sender_deleted] [bit] NOT NULL,
	[recipient_deleted] [bit] NOT NULL,
 CONSTRAINT [PK_messages] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Photos]    Script Date: 11/14/2022 4:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Photos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[url] [nvarchar](max) NULL,
	[description] [nvarchar](max) NULL,
	[date_added] [datetime2](7) NOT NULL,
	[is_main] [bit] NOT NULL,
	[userid] [int] NOT NULL,
	[public_id] [nvarchar](max) NULL,
 CONSTRAINT [PK_Photos] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 11/14/2022 4:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](max) NULL,
	[password_hash] [varbinary](max) NULL,
	[password_salt] [varbinary](max) NULL,
	[city] [nvarchar](max) NULL,
	[country] [nvarchar](max) NULL,
	[created] [datetime2](7) NOT NULL,
	[date_of_birth] [datetime2](7) NOT NULL,
	[gender] [nvarchar](max) NULL,
	[interests] [nvarchar](max) NULL,
	[introduction] [nvarchar](max) NULL,
	[known_as] [nvarchar](max) NULL,
	[last_active] [datetime2](7) NOT NULL,
	[looking_for] [nvarchar](max) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20220904025936_AddedUserEntity', N'6.0.8')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20220921071329_ExtendedUserClass', N'6.0.8')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20221107051326_AddedLikeEntity', N'6.0.8')
GO
INSERT [dbo].[Like] ([liker_id], [likee_id]) VALUES (2, 29)
GO
SET IDENTITY_INSERT [dbo].[Photos] ON 

INSERT [dbo].[Photos] ([id], [url], [description], [date_added], [is_main], [userid], [public_id]) VALUES (121, N'http://res.cloudinary.com/dfuhlrkz1/image/upload/v1667459249/aywwn5pv4sjwvxmcabqh.jpg', NULL, CAST(N'2022-11-03T14:07:28.3631987' AS DateTime2), 1, 1, N'aywwn5pv4sjwvxmcabqh')
INSERT [dbo].[Photos] ([id], [url], [description], [date_added], [is_main], [userid], [public_id]) VALUES (122, N'http://res.cloudinary.com/dfuhlrkz1/image/upload/v1667459692/k1l4vleff7vti2cfp3yx.jpg', NULL, CAST(N'2022-11-03T14:14:50.9465884' AS DateTime2), 1, 2, N'k1l4vleff7vti2cfp3yx')
INSERT [dbo].[Photos] ([id], [url], [description], [date_added], [is_main], [userid], [public_id]) VALUES (124, N'http://res.cloudinary.com/dfuhlrkz1/image/upload/v1667459904/cqy2pqqv7rsky7wywylb.jpg', NULL, CAST(N'2022-11-03T14:18:23.5626968' AS DateTime2), 0, 2, N'cqy2pqqv7rsky7wywylb')
SET IDENTITY_INSERT [dbo].[Photos] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Photos] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [date_added]
GO
ALTER TABLE [dbo].[Photos] ADD  DEFAULT (CONVERT([bit],(0))) FOR [is_main]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [created]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [date_of_birth]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [last_active]
GO
ALTER TABLE [dbo].[Like]  WITH CHECK ADD  CONSTRAINT [FK_Like_Users_likee_id] FOREIGN KEY([likee_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Like] CHECK CONSTRAINT [FK_Like_Users_likee_id]
GO
ALTER TABLE [dbo].[Like]  WITH CHECK ADD  CONSTRAINT [FK_Like_Users_liker_id] FOREIGN KEY([liker_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Like] CHECK CONSTRAINT [FK_Like_Users_liker_id]
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD  CONSTRAINT [FK_messages_Users_recipientid] FOREIGN KEY([recipientid])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Messages] CHECK CONSTRAINT [FK_messages_Users_recipientid]
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD  CONSTRAINT [FK_messages_Users_senderid] FOREIGN KEY([senderid])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Messages] CHECK CONSTRAINT [FK_messages_Users_senderid]
GO
ALTER TABLE [dbo].[Photos]  WITH CHECK ADD  CONSTRAINT [FK_Photos_Users_userid] FOREIGN KEY([userid])
REFERENCES [dbo].[Users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Photos] CHECK CONSTRAINT [FK_Photos_Users_userid]
GO
