<main class="form-signin w-100 m-auto">
  <form [formGroup]="registerForm" (ngSubmit)="register()">
    <h1 class="h3 mb-3 fw-normal">Please sign up</h1>
    <div class="form-group">
      <label class="control-label" style="margin-right:10px">I am a: </label>
      <label class="radio-inline">
        <input class="mr-3" type="radio" value="Male" formControlName="gender">Male
      </label>
      <label class="radio-inline ml-3">
        <input class="mr-3" type="radio" value="Female" formControlName="gender">Female
      </label>
    </div>
    <div class="form">
      <label for="username">User name</label>
      <input type="text" required class="form-control" id="username" formControlName="username"
        [ngClass]="{'is-invalid': registerForm.get('username')?.errors && registerForm.get('username')?.touched}">
      <div class="invalid-feedback">Please choose a username</div>
    </div>
    <div class="form-group">
      <input [ngClass]="{'is-invalid': registerForm.get('known_as')?.errors && registerForm.get('known_as')?.touched}"
        class="form-control" placeholder="Known as" formControlName="known_as">
      <div class="invalid-feedback"
        *ngIf="registerForm.get('known_as')?.touched && registerForm.get('known_as')?.hasError('required')">Known as is
        required</div>
    </div>
    <div class="form-group">
      <input
        [ngClass]="{'is-invalid': registerForm.get('date_of_birth')?.errors && registerForm.get('date_of_birth')?.touched}"
        class="form-control" placeholder="Date of Birth" formControlName="date_of_birth" type="text" bsDatepicker
        [bsConfig]="bsConfig">
      <div class="invalid-feedback"
        *ngIf="registerForm.get('date_of_birth')?.touched && registerForm.get('date_of_birth')?.hasError('required')">
        Date
        of Birth is required</div>
    </div>
    <div class="form-group">
      <input [ngClass]="{'is-invalid': registerForm.get('city')?.errors && registerForm.get('city')?.touched}"
        class="form-control" placeholder="City" formControlName="city">
      <div class="invalid-feedback"
        *ngIf="registerForm.get('city')?.touched && registerForm.get('city')?.hasError('required')">City is required
      </div>
    </div>

    <div class="form-group">
      <input [ngClass]="{'is-invalid': registerForm.get('country')?.errors && registerForm.get('country')?.touched}"
        class="form-control" placeholder="Country" formControlName="country">
      <div class="invalid-feedback"
        *ngIf="registerForm.get('country')?.touched && registerForm.get('country')?.hasError('required')">Country is
        required</div>
    </div>
    <div class="form">
      <label for="password">Password</label>
      <input type="password" required class="form-control" id="password" formControlName="password"
        [ngClass]="{'is-invalid': registerForm.get('password')?.errors && registerForm.get('password')?.touched}">
      <div class="invalid-feedback"
        *ngIf="registerForm.get('password')?.hasError('required') && registerForm.get('password')?.touched">Password is
        required</div>
      <div class="invalid-feedback"
        *ngIf="registerForm.get('password')?.hasError('minlength') || registerForm.get('password')?.hasError('maxlength')">
        Password at least 8 characters in length, but no more than 32.</div>
    </div>
    <div class="form">
      <label for="confirmpassword">RePassword</label>
      <input type="password" required class="form-control" id="confirmpassword" formControlName="confirmpassword"
        [ngClass]="{'is-invalid': registerForm.get('confirmpassword')?.touched  && (registerForm.get('confirmpassword')?.errors 
        || registerForm.hasError('notmatched'))}">
      <div class="invalid-feedback" *ngIf="registerForm.get('confirmpassword')?.hasError('required')">Confirmpassword is
        required</div>
      <div class="invalid-feedback"
        *ngIf="registerForm.get('confirmpassword')?.hasError('minlength') || registerForm.get('confirmpassword')?.hasError('maxlength')">
        Confirmpassword at least 8 characters in length, but no more than 32.</div>
      <div class="invalid-feedback"
        *ngIf="registerForm.hasError('notmatched') || registerForm.get('confirmpassword')?.touched  ">
        Passwords must match
      </div>
    </div>
    <div class="form-group register-button">
      <button class="btn btn-success btn-lg" type="submit" [disabled]="!registerForm.valid">Register</button>
      <button class="btn btn-default btn-lg" type="button" (click)="cancel()">Cancel</button>
    </div>
  </form>
</main>