<div class="text-center mt-3">
  <h2 *ngIf="pagination">Your matches - {{pagination.totalItems}} found</h2>
</div>

<div class="container mt-3">
  <form class="d-flex flex-row align-items-center flex-wrap" novalidate
    #form="ngForm" (submit)="getUsers()">
    <label class="my-1 me-2" for="min_age">Age From</label>
    <ng-select [(ngModel)]="userFilter.min_age" name="min_age"
      [dropdownPosition]="'bottom'" [clearable]="false" class="params">
      <ng-option *ngFor="let ageMin of ageList()"
        [value]="ageMin">{{ageMin}}</ng-option>
    </ng-select>
    <label class="ms-2 me-2" for="max_age">Age to</label>
    <ng-select [(ngModel)]="userFilter.max_age" [clearable]="false"
      [dropdownPosition]="'bottom'" name="max_age" class="params">
      <ng-option *ngFor="let ageMax of ageList()"
        [value]="ageMax">{{ageMax}}</ng-option>
    </ng-select>
    <label class="ms-2 me-2" for="gender">Gender</label>
    <ng-select [(ngModel)]="userFilter.gender" name="gender" [clearable]="false"
      [dropdownPosition]="'bottom'" class="params">
      <ng-option *ngFor="let gender of genderList"
        [value]="gender.key">{{gender.value}}</ng-option>
    </ng-select>
    <button type="submit" class="btn  btn-create ms-2">Apply Filters</button>
    <button type="button" class="btn btn-info ms-1"
      (click)="resetFilter()">Reset Filter</button>
    <div class="col">
      <div class="btn-group float-right ms-5">
        <button type="button" name="orderBy" (click)="getUsers()"
          [(ngModel)]="userFilter.order_by" class="btn btn-create"
          btnRadio="last_active">Last Active</button>
        <button type="button" name="orderBy" (click)="getUsers()"
          [(ngModel)]="userFilter.order_by" class="btn btn-warning"
          btnRadio="created">Newest Members</button>
      </div>
    </div>
  </form>
  <br>
  <div class="row">
    <div *ngFor="let user of users; trackBy: trackByidFn"
      class="col-lg-2 col-md-3 col-sm-6">
      <app-member-card [user]="user" [params]="searchParam"></app-member-card>
    </div>
  </div>
</div>
<div class="d-flex justify-content-center mt-3" *ngIf="users.length > 0">
  <pagination [boundaryLinks]="true" [totalItems]="pagination.totalItems"
    [itemsPerPage]="pagination.pageSize" [maxSize]="5"
    [(ngModel)]="pagination.pageNumber" (pageChanged)="pageChanged($event)"
    previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;"
    lastText="&raquo;">
  </pagination>
</div>