li.nav-item.active {
    font-weight: bold;
}

.edit-profile{
 cursor: pointer;
}

button {
  white-space: nowrap;
}

.button-translate:focus {
  outline: none;
}

.img-translate {
  width: 40px;
  height: 40px;
}
